@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap&family=Oswald:wght@200&display=swap&family=Caveat&display=swap&");
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Playpen+Sans:wght@100..800&family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

:root {
    --text-color-primary: #000000;
    --text-color-secondary: #ffffff;
    --font-family-primary: Roboto, serif;
    --font-family-secondary: Poppins, serif;
    --font-size-medium: 1rem;
    --font-size-small: 0.75rem;
    --font-size-large: 1.5rem;
    --background-color-primary: rgb(255, 255, 255);
    --background-color-secondary: #000000;
    --background-color-optional: rgba(0, 0, 0, 0.20);
    --box-shadow-global: 0px 0px 2px rgba(0, 0, 0, 50%);
}

::-webkit-scrollbar {
    /*display: none;*/
    width: .5rem;
    /*border-radius: .5rem;*/
    /*background-color: var(--background-color-optional);*/
}

::-webkit-scrollbar:hover {
    width: .5rem;
    /*border-radius: .5rem;*/
    background-color: var(--background-color-optional);
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-color-secondary);
    /*border-radius: .5rem;*/
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--background-color-primary) inset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

html.sr .load-hidden {
    visibility: hidden;
}

a {
    text-decoration: none;
    color: var(--background-color-secondary);
}

a:hover {
    /*color: var(--link-hover-color);*/
}

ul {
    list-style: none;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

body.modal-open {
    /*position: fixed;*/
    overflow: hidden;
}

body.modal-open .header {
    display: none;
}

body.modal-open .scrollup {
    display: none;
}

.main {
    overflow: hidden;
}

.main > .title {
    height: 50vh;
    width: 100vw;
    text-align: center;
    font-family: var(--font-family-secondary);
    font-weight: bold;
    font-size: 50px;
    opacity: 0;
    margin-left: 85px;
}

.main > .title a {
    /*display: inline-block;*/
    justify-content: center;
    cursor: pointer;
    /*transform: translateX(-5px);*/
}

.main > .title a i {
    display: inline-block;
    transition: all .5s;
}

.main > .title a:hover i {
    transform: translateX(1rem);
}

button {
    cursor: pointer;
}

img, button, .swiper .price {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.header a {
    text-transform: uppercase;
    font-family: var(--font-family-secondary);
    margin: .5rem;
}

.header {
    top: calc(-100%);
    position: fixed;
    width: 100%;
    /*z-index: 50;*/
    z-index: 100;
    background-color: var(--background-color-primary);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 50%);
    /* border-radius: 1rem 1rem 0 0; */
    transition: .5s;
    overflow: hidden;
    /*height: 50px;*/
}

.header nav {
    display: grid;
    justify-content: center;
    /*grid-template-columns: repeat(auto-fit, 100px);*/
    grid-template-columns: 1fr 1fr 1fr;
    height: 50px;
    background-color: var(--background-color-primary);
}

.header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.header nav ul li {
    /*margin: .75rem;*/
    list-style-type: none;
}

.header nav ul li i {
    font-size: var(--font-size-medium);
}

.header nav ul li button {
    border: none;
    background: none;
    color: var(--background-color-secondary);
}

.header nav .menu {
    display: none;
}

.footer {
    background-color: var(--background-color-secondary);
    color: var(--background-color-primary);
    z-index: 90;
    position: relative;
    font-family: var(--font-family-secondary);
    padding: 5rem;
    overflow: hidden;
    border-radius: 5rem 5rem 0 0;
}

.footer ul li {
    background-color: var(--background-color-secondary);
    padding: 0 1rem;
}

.footer ul li a {
    color: var(--background-color-primary);
}

.footer .section {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.footer .section .subSection {
    margin: 3rem;
}

.footer span {
    display: block;
    margin-top: 50px;
    position: relative;
    font-size: var(--font-size-small);
    width: fit-content;
}

.footer .container {
    /*display: grid;*/
    /*grid-template-columns: 1fr 3fr;*/
}

.footer .section .subSection .subscribe input {
    font-size: var(--font-size-medium);
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 50%);
}

.footer .section .subSection .subscribe .submit {
    font-size: var(--font-size-medium);
    padding: .5rem;
    border: none;
    background: transparent;
    color: var(--background-color-primary);
}

.dot {
    color: var(--background-color-primary);
    background-color: var(--background-color-secondary);
    min-width: 4px;
    height: 4px;
    font-size: 0;
    position: absolute;
    border-radius: 1rem;
    margin-left: 1rem;
}

.cover {
    height: 100vh;
    width: 100vw;
    position: relative;
    /*background-color: var(--background-color-primary);*/
    z-index: 11;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cover img {
    position: relative;
    height: 100%;
    width: 50%;
    object-fit: cover;
    transform: scale(1.1);
    border-radius: 50%;
    opacity: 0;
}

.sectionLine {
    background-color: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: 1px;
    margin-top: 85px;
    margin-bottom: 30px;
}

.sectionImage {
    top: 0;
    height: 100vh;
    width: 1170px;
    left: -1000px;
    z-index: 10;
    position: fixed;
    /*overflow: hidden;*/
    /*mix-blend-mode: multiply;*/
    opacity: 0;
}

.sectionImage img {
    rotate: 180deg;
    object-fit: cover;
}

.aboutSection > div {
    width: 100vw;
    height: 100vh;

    /*position: relative;*/
    /*top: 50px;*/

    display: grid;
    grid-template-columns: 2fr 1fr;

    overflow: hidden;

    /*background-color: var(--background-color-primary);*/
}

.aboutSection .image {
    height: 100%;
    width: 100%;

    display: grid;
    justify-items: center;
    align-items: center;
    opacity: 0;
    transition: .5s;
}

.aboutSection .title {
    display: grid;

    justify-items: center;
    align-content: center;

    margin: 1rem;
    opacity: 0;
    transition: .5s;
}

.aboutSection div span {
    /*font-family: "Anton SC", sans-serif;*/
    font-family: var(--font-family-secondary);
    /*font-size: 135px;*/
    font-weight: bold;
    /*text-transform: uppercase;*/
}

/*.aboutSection div .test {*/
/*    top: 50%;*/
/*    height: 50%;*/
/*    width: 50%;*/
/*    position: relative;*/
/*}*/

/*[data-inviewport] {*/
/*    !*opacity: 0;*!*/
/*    !*transition: all 2s;*!*/
/*}*/

/*[data-inviewport] img {*/
/*    !*transform: translate3d(130px, -20px, 0px) rotateZ(-4deg);*!*/
/*    !*transform-style: preserve-3d;*!*/
/*    !*transition-duration: 2s;*!*/
/*}*/

.is-inViewport {
    opacity: 1;
}

.is-inViewport .image {
    /*transform: translate3d(0px, 0px, 0px) rotateZ(0deg);*/
    /*transform-style: preserve-3d;*/
    opacity: 1;
}

.is-inViewport .title {
    opacity: 1;
}

.aboutSection div .title {
    display: grid;
    justify-items: center;
    align-items: center;
}

.aboutSection img {
    /*height: 50%;*/
    /*width: 50%;*/
    height: 350px;
    width: 500px;

    border-radius: 5rem;
    box-shadow: var(--box-shadow-global);
}

#section1 {
    position: relative;
    z-index: 1;
}

#section2 {
    position: relative;
    z-index: 2;
}

#section3 {
    position: relative;
    z-index: 3;
}

/*[data-inviewport="scale-in"] {*/
/*    transition: 10s;*/
/*    transform: scale(0.1);*/
/*}*/

.productsSection {
    min-height: 100vh;
    height: min-content;
    display: grid;
    grid-template-rows: min-content;
}

.productsSection .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    position: relative;
    margin-top: 50px;
}

.productsSection .products .product {
    height: 25vw;
    width: 25vw;
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    justify-items: center;
    align-items: center;

    border-radius: 50%;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 50%);
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.productsSection .products .product img {
    height: 75%;
    width: 75%;
    object-fit: cover;
    pointer-events: none;
}

.productsSection .products .product .details {
    font-family: var(--font-family-secondary);
    text-align: center;
    text-shadow: var(--box-shadow-global);
    pointer-events: none;
}

dialog {
    /*height: calc(100% - 2rem);*/
    height: 100%;
    max-height: 100%;
    width: 25%;
    max-width: 100%;
    /*margin: 1rem;*/
    /*background-color: transparent;*/
    border: none;
    justify-self: right;
    /*border-radius: 1rem;*/
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 50%);
    transition: all .5s allow-discrete;
    opacity: 0;
    right: -25%;
}

dialog::backdrop {
    opacity: 0;
    transition: all .5s allow-discrete;
    background-color: rgba(0, 0, 0, .9);
}

dialog[open],
dialog[open]::backdrop {
    opacity: 1;
    right: 0;
}

@starting-style {
  dialog[open],
  dialog[open]::backdrop {
    opacity: 0;
    right: -25%;
  }
}

dialog .cart {
    height: 100%;
    width: 100%;
    /*align-content: center;*/
    /*text-align: center;*/
    font-family: var(--font-family-secondary);
    overflow: hidden;
    display: grid;
}

dialog .cart p {
    display: grid;
    align-content: center;
    justify-content: center;
}

dialog .cart form {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}

dialog .cart form button {
    background: none;
    font-size: var(--font-size-medium);
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 50%);
    color: var(--background-color-secondary);
}

dialog .cart .products .product .details button {
    background: rgb(255, 100, 100);
    font-size: var(--font-size-medium);
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 50%);
}

dialog .cart .products .product button {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 50%);
    color: var(--background-color-primary);
}

dialog .cart .products .product .details > button {
    margin: .5rem;
}

dialog .cart .products {
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(1, 300px);
    overflow: overlay;
    align-items: center;
}

dialog .cart .products .product {
    height: 250px;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;

    background: none;
    font-size: var(--font-size-medium);
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 50%);
}

dialog .cart .products .product .details {
    display: grid;
    justify-self: center;
    align-self: center;
    font-size: var(--font-size-large);
    text-align: center;
    justify-items: center;
    place-items: center;

    width: 100%;
}

dialog .cart .products .product .details .quantity {

}

dialog .cart .products .product .details .quantity input {
    width: 30px;
    height: 5px;
    background: none;
    font-size: var(--font-size-medium);
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 50%);
    text-align: center;
    outline: none;
}

dialog .cart .checkout {
    display: grid;
    margin: 1rem 3.5rem;
    align-items: end;
}

dialog .cart .checkout button {
    background: none;
    font-size: var(--font-size-medium);
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 50%);
    text-transform: uppercase;
    font-family: var(--font-family-secondary);
    color: var(--background-color-secondary);
}

dialog .cart .products .product img {
    margin: 1rem;
    height: 200px;
    width: 200px;
    object-fit: cover;
    justify-self: center;
    align-self: center;

    border-radius: .5rem;
    /*box-shadow: 0px 0px 2px rgba(0, 0, 0, 50%);*/
}

.showHeader {
    top: 0;
}

@media screen and (max-width: 1750px) {
    dialog {
        width: 50%;
        right: -50%;
    }

    @starting-style {
        dialog[open],
        dialog[open]::backdrop {
            opacity: 0;
            right: -50%;
        }
    }
}

@media screen and (max-width: 1450px) {
    /*.cover img {*/
    /*    height: 75%;*/
    /*}*/

    .aboutSection .image {
        justify-items: end;
    }
}

@media screen and (max-width: 1210px) {

}

@media screen and (max-width: 1115px) {
    .aboutSection > div {
        grid-template-columns: 3fr 1fr;
    }
}

@media screen and (max-width: 970px) {
     dialog {
        width: 100%;
        height: 100%;
        right: -100%;
    }

    @starting-style {
        dialog[open],
        dialog[open]::backdrop {
            opacity: 0;
            right: -100%;
        }
    }

    dialog .cart .products .product img {
        height: 300px;
        width: 300px;
    }

    dialog .cart .products .product {
        height: 400px;
    }

    dialog .cart .products {
        grid-template-rows: repeat(1, 450px);
    }

    /*.cover img {*/
    /*    height: 50%;*/
    /*}*/

    .aboutSection img {
        height: 250px;
        width: 350px;
    }

    .aboutSection .image {
        justify-items: end;
    }

    .main > .title {
        font-size: 40px;
    }
}

@media screen and (max-width: 750px) {
    .header {
        /*top: calc(-100%);*/
    }

    .header nav {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .header nav ul:nth-child(2) {
        /*opacity: 0;*/

        position: fixed;
        top: -100%;
        z-index: -1;
        width: 100%;
        background-color: var(--background-color-primary);
        transition: all .5s allow-discrete;
    }

    .header nav ul:nth-child(2) li {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .show-menu nav ul:nth-child(2) {
        /*opacity: 1;*/
        top: 50px;
    }

    .header nav {
        /*height: fit-content;*/
    }

    .header nav .menu {
        display: flex;
    }

    .productsSection .products {
        grid-template-columns: 1fr 1fr;
    }

    .productsSection .products .product {
        font-size: var(--font-size-small);
    }

    .productsSection .products .product {
        height: 35vw;
        width: 35vw;
    }

    .cover img {
        width: 75%;
    }

    .aboutSection img {
        height: 175px;
        width: 250px;
    }

    .main > .title {
        font-size: 25px;
    }
}

@media screen and (max-width: 575px) {
    dialog .cart .products .product img {
        height: 100px;
        width: 100px;
    }

    dialog .cart .products .product .details {
        font-size: var(--font-size-medium);
    }

    dialog .cart .products .product {
        height: 200px;
    }

    dialog .cart .products {
        grid-template-rows: repeat(1, 250px);
    }

    .sectionImage {
        display: none;
    }

    .aboutSection .image {
        justify-items: center;
    }

    .aboutSection > div {
        grid-template-columns: 1fr;
    }

    .aboutSection div .title {
        align-content: start;
    }

    .main > .title {
        margin-left: 0;
    }
}

@media screen and (max-width: 440px) {
    .footer {
        padding: 2rem;
    }

    .footer .section .subSection .subscribe input {
        /*width: 100px;*/
    }

    .footer .section .subSection {
        margin-left: .5rem;
    }

    .productsSection .products {
        grid-template-columns: 1fr;
    }

    .productsSection .products .product {
        height: 50vw;
        width: 50vw;
    }

    /*.cover img {*/
    /*    height: 25%;*/
    /*}*/
}

@media screen and (max-width: 335px) {
    dialog .cart .products .product img {
        height: 50px;
        width: 50px;
        margin: .5rem;
    }

    dialog .cart .products .product .details {
        font-size: var(--font-size-small);
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        margin: .25rem;
    }

    dialog .cart .products .product .details button {
        font-size: var(--font-size-small);
    }

    dialog .cart .products .product .details .quantity input {
        padding: .75rem;
    }

    dialog .cart .products .product .details > * {
        margin: .25rem;
    }

    dialog .cart .products .product {
        height: 100px;
    }

    dialog .cart .products {
        grid-template-rows: repeat(1, 150px);
    }

    dialog .cart .products {
        margin: 3.5rem 0;
    }

    .productsSection .products .product {
        height: 75vw;
        width: 75vw;
    }
}

.show-menu {
    /*top: 500px;*/
}

.scrollup {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 50%);
}

.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background-color: var(--background-color-primary);
    /*box-shadow: 0 4px 12px hsla(207, 24%, 35%, 15);*/
    /*box-shadow: 0px 0px 4px grey;*/
    display: inline-flex;
    padding: .35rem;
    border-radius: .25rem;
    font-size: 1.1rem;
    color: var(--text-color-primary);
    z-index: 100;
    transition: bottom .3s, transform .3s;
    animation: popup infinite 1s;
}

.scrollup:hover {
    /*transform: translateY(.25rem);*/
    animation-play-state: paused;
    /*box-shadow: 0px 0px 2px rgba(0, 0, 0, 50%);*/
}

/* Show Scroll Up*/
.show-scroll {
    bottom: 2rem;
}

@keyframes popup {
    0% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(.25rem);
    }
    100%{
        transform: translateY(0rem);
    }
}

