<footer class="footer">
    <div class="container">

        <div class="section">
            Lumina Vision
        </div>

        <div class="section">
            <div class="subSection">
                Pages

                <ul>
                    <li>
                        <a href="/store/">Lumina Vision</a>
                    </li>
                    <li>
                        <a href="/store/products/">Products</a>
                    </li>
                    <li>
                        <a href="/store/sign-in/">Sign in</a>
                    </li>
                    <li>
                        <a href="/store/sign-up/">Sign up</a>
                    </li>
                </ul>
            </div>

            <div class="subSection">
                Social

                <ul>
                    <li>
                        <a href="https://web.telegram.org/">Telegram</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/">Instagram</a>
                    </li>
                    <li>
                        <a href="https://x.com/">X</a>
                    </li>
                </ul>
            </div>

            <div class="subSection">
                Contact

                <ul>
                    <li>
                        <a href="tel:+38 (067) 435 35 64">+38 (067) 435 35 64</a>
                    </li>

                    <li>
                        <a href="mailto:LuminaVision@gmail.com">LuminaVision@gmail.com</a>
                    </li>
                </ul>
            </div>

            <div class="subSection">
                Subscribe

                <ul>
                    <li class="subscribe">
                        <form method="POST" action="/store/subscribe/" id="subscribe">
                            {% csrf_token %}
                            <input maxlength="256" name="email" data-name="Email" placeholder="Your Email" type="email" id="email" required="">

                            <button class="submit" type="submit">
                                <i class="ri-arrow-right-circle-line"></i>
                            </button>
<!--                            <input type="submit" value="">-->
                        </form>
                    </li>
                </ul>
            </div>
        </div>

        <span>Lumina Vision ©</span>
    </div>
</footer>