<header class="header showHeader" id="header">
    <nav class="container">
        <ul class="menu">
            <li>
                <button id="showMenu">
                    <i class="ri-menu-5-line"></i>
                </button>
            </li>
        </ul>

        <ul>
            <li>
                <a href="/store/products/">
                    Products
                </a>

                {% if user.is_authenticated %}
                    <a href="/store/sign-out/">
                        {{user.username}} <i class="ri-logout-box-r-line"></i>
                    </a>
                {% else %}
                    <a href="/store/sign-in/">
                        <i class="ri-login-box-line"></i> Sign In
                    </a>
                {% endif %}
            </li>
        </ul>

        <ul>
            <li>
                <a href="/store/">
                    Lumina Vision
                </a>
            </li>
        </ul>

        <ul>
            <li>
                <button id="cartMenu">
                    {% if cartItems %}
                        <div class="dot"></div>
                    {% endif %}
                    <i class="ri-shopping-cart-2-line"></i>
                </button>
            </li>
        </ul>
    </nav>
</header>