{% load static %}

<div class="sectionImage">
    <img src="{% static 'store4/assets/img/Canon-RF-135mm-f1.8.png' %}" alt="">
</div>

<div id="section1" class="aboutSection pin" data-inviewport>
    <div>
        <div class="image">
            <img src="{% static 'store4/assets/img/spinningbear.jpg' %}" alt="aboutSectionImage">
        </div>

        <div class="title">
            <span>The best part is the best quality</span>
        </div>
    </div>
</div>

<div id="section2" class="aboutSection pin" data-inviewport>
    <div>
        <div class="image">
            <img src="{% static 'store4/assets/img/©Zach+Nichols+(December+28,+2023+[23.14.25])+-+ZAC_1321-Enhanced-NR.jpg' %}" alt="aboutSectionImage">
        </div>

        <div class="title">
            <span>Look from a different angle</span>
        </div>
    </div>
</div>

<div id="section3" class="aboutSection pin" data-inviewport pushFollowers>
    <div>
        <div class="image">
            <img src="{% static 'store4/assets/img/DSC3489-2-1.jpg' %}" alt="aboutSectionImage">
        </div>

        <div class="title">
            <span>Convenient in any situation</span>
        </div>
    </div>
</div>