<!DOCTYPE html>
{% load static %}
{% load tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <meta name="description" content="Lumina Vision website">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="{% static 'store4/assets/img/1539631.png' %}" type="image/x-icon">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css">

    <script src="https://unpkg.com/scrollreveal@4.0.9/dist/scrollreveal.min.js"></script>

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{% static 'store4/assets/css/store.css' %}">
    <link rel="stylesheet" href="{% static 'store4/assets/css/sign.css' %}">

    <title>Lumina Vision</title>
</head>
<body>
{% csrf_token %}
<!--==================== HEADER ====================-->
{% include 'store4/header.html' %}

<!--==================== MAIN ====================-->
<main class="main">
    <div class="sign-form">
        <form action="" method="POST" autocomplete="off">
            {% csrf_token %}

            {{form.as_p}}

            <span>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </span>
            <br><br>

            <a href="/store/sign-up/">
                Do not have an account yet? Sign up
            </a>
            <input type="submit" value="Sign In"/>
        </form>

        {% include 'store4/cart.html' %}
    </div>
</main>

<!--========== SCROLL UP ==========-->
<a href="#" class="scrollup" id="scroll-up">
    <i class="ri-arrow-up-circle-line"></i>
</a>

<!--=============== SCRIPTS ===============-->
<!-- Add 'async' or 'defer' attributes to control script execution -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js" defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js" defer></script>
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous" defer></script>
<script src="https://kit.fontawesome.com/95c0aa19f9.js" crossorigin="anonymous" defer></script>
<script src="https://telegram.org/js/telegram-widget.js?" defer></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
<!--        <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>-->
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.js"></script>

<!-- Combine and minify your custom scripts -->
<script src="{% static 'store4/assets/js/store.js' %}" defer></script>
</body>
</html>