<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1, user-scalable=0">
        <meta name="description" content="Lumina Vision website">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="{% static 'store4/assets/img/1539631.png' %}" type="image/x-icon">

        <!--=============== REMIXICONS ===============-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css">

        <!--=============== UNICONS ===============-->
<!--        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.0/css/line.css">-->

        <!--=============== SWIPER CSS ===============-->
<!--        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>-->

        <script src="https://unpkg.com/scrollreveal@4.0.9/dist/scrollreveal.min.js"></script>

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{% static 'store4/assets/css/store.css' %}">
<!--        <link rel="stylesheet" href="{% static 'store4/assets/css/products.css' %}">-->

        <title>Lumina Vision</title>
    </head>
    <body>
        {% csrf_token %}
        <!--==================== THEME ====================-->
        <!--<script src="{% static 'store4/assets/js/theme.js' %}"></script>-->
        <!--==================== HEADER ====================-->
        {% include 'store4/header.html' %}
        <!--==================== MAIN ====================-->
        <main class="main">
            <div class="productsSection">
<!--                <img src="https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?cs=srgb&dl=pexels-pixabay-326055.jpg&fm=jpg" alt="">-->

                <div class="title">

                </div>

                <div class="products">
                    {% for product in products %}
                        <div class="product"
                             hx-get="" hx-trigger="changed" hx-target=".cart" hx-select=".cart > *" hx-swap="innerHTML"
                             productId="{{product.id}}">
                            <img src="/media/{{product.photo}}" alt="photo" loading="lazy">

                            <div class="details">
                                <div class="price">
                                    $ {{product.price|floatformat}}
                                </div>

                                <div class="title">
                                    {{product.title}}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% include 'store4/cart.html' %}
        </main>

        <!--==================== FOOTER ====================-->
        {% include 'store4/footer.html' %}

        <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-circle-line"></i>
        </a>

        <!--=============== SCRIPTS ===============-->
        <!-- Add 'async' or 'defer' attributes to control script execution -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js" defer></script>
        <script src="https://kit.fontawesome.com/95c0aa19f9.js" crossorigin="anonymous" defer></script>
        <script src="https://js.stripe.com/v3/"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
<!--        <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.js"></script>
        <script src="https://unpkg.com/htmx.org@2.0.2" defer></script>

        <!-- Combine and minify your custom scripts -->
        <script src="{% static 'store4/assets/js/store.js' %}" defer></script>
        <script src="{% static 'store4/assets/js/products.js' %}" defer></script>
    </body>
</html>